# This will set the replicaset count more information can be found here: https://kubernetes.io/docs/concepts/workloads/controllers/replicaset/
replicaCount: 1

# This sets the container image more information can be found here: https://kubernetes.io/docs/concepts/containers/images/
image:
  repository: traefik/whoami
  # This sets the pull policy for images.
  pullPolicy: IfNotPresent

ingress:
  enabled: true
  className: 'my-traefik'
  annotations: {}
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: whoami.dklair.io
      paths:
        - path: /
          pathType: ImplementationSpecific
